
@{
    ViewBag.Title = "destinations";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
    <link href="~/blog/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/blog/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <!---->

</head>
<body>
    <!---header---->
    
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                <div class="single-grid">
                    <img src="~/blog/images/36738.jpg" alt="" />
                    <br /><br />
                    <h3>ANADOLU MEDENİYETLER MÜZESİ</h3>
                    <p>
                        Mustafa Kemal Atatürk'ün isteği üzerine Ankara'da bir Hitit müzesi kurulmasına yönelik ilk girişim; 1921 yılında, dönemin Hars Müdürü Mübarek Galip Bey ve Maarif Vekili Hamdullah Suphi Tanrıöver tarafından başlatıldı. O döneme kadar Augustus Tapınağı ve Roma Hamamı gibi arkeolojik mekanlarda çeşitli kalıntılar ele geçirilip depolandıysa da mevcut tarihi eserlerinin ilk defa kapsamlı ve düzenli bir şekilde korunması, 1 Ekim 1921 tarihinde Akkale'de açılan "Eti Müzesi" veya diğer adıyla "Asar-ı Atika Müzesi" sayesinde oldu. Böylelikle, ileride Anadolu Medeniyetleri Müzesi adını alacak ve dünyanın en kapsamlı Anadolu uygarlıkları müzesine dönüşecek olan bir kurumun temelleri atılmış oldu.
                    </p>
                    <p>Adres: Kale, Gözcü Sk. No:2, 06240 Ulus/Altındağ/Ankara</p>
                </div>
                <br /> <br />

                <div class="single-grid">
                    <img src="~/blog/images/rahmi.jpg" alt="" />
                    <br /><br />
                    <h3>RAHMİ M. KOÇ MÜZESİ</h3>
                    <p>
                        Osmanlı Padişahı Kanuni Sultan Süleyman döneminde inşa edilen Çengelhan, Mihrimah Sultan'ın eşi Damat Rüstem Paşa tarafından 1522'de yaptırılmış, çeşitli dönemlerde tiftik deposu ve tabakhane olarak kullanılmıştir. 1990 yılında vefatına kadar sahibi Anadolu Beylerbeyi Karacapaşa'nın torunu Raife Kocabeyoğlu-Öngen'dir. O tarihte Ankara Belediye başkanı olan Murat Karayalçın, hanın sahiplerine Belediye sarayı yaptırmak için hani istimlak edeceklerini belirtmiş, ama bu proje gerçekleşmemiştir.[kaynak belirtilmeli] Çengelhan, Rahmi M. Koç Müzecilik ve Kültür Vakfı tarafından Vakıflar Genel Müdürlüğü'nden kiralanarak restore edilmiş ve 2005 yılından itibaren sanayi müzesi olarak hizmet vermeye başlamıştır.
                    </p>
                    <p>Adres: Hacettepe, Kale, Depo Sokak No:1, 06230 Altındağ/Ankara</p>
                </div>
                <div class="single-grid">
                    <img src="~/blog/images/kurtulus.jpg" alt="" />
                    <br /><br />
                    <h3>ANKARA KURTULUŞ SAVAŞI MÜZESİ</h3>
                    <p>
                        Kurtuluş Savaşı Müzesi veya I. TBMM Binası, 1920-1924 yılları arasında TBMM faaliyetlerinin gerçekleştirildiği bina. Ankara'nın Altındağ ilçesinin Ulus Meydanı'nda bulunan I. Türkiye Büyük Millet Meclisi binasının inşaasına, 1915 yılında başlanmıştır. İlkin İttihat ve Terakki Cemiyeti kulüp binası olarak tasarlanmış binanın planı evkaf mimarı Salim Bey tarafından yapılmış, inşasına ise kolordunun askeri mimarı Hasip Bey nezaret etmiştir.
                        Türk mimari stilinde olan iki katlı binanın en belirgin özelliği duvarlarında Ankara taşı (Andezit) kullanılmış olmasıdır. Meclisin, 23 Nisan 1920'de bu binada toplanması kararlaştırıldığında henüz bitirilmemiş olan bina, milli bir heyecanın eseri olarak milletin katkısıyla tamamlanmıştır.
                    </p>
                    <p>
                        Adres: İsmet İnönü Bulvarı No:32 06100 Emek/Ankara
                    </p>
                </div>
                <div class="single-grid">
                    <img src="~/blog/images/ulucan.jpg" alt="" />
                    <br /><br />
                    <h3>ULUCANLAR CEZAEVİ MÜZESİ</h3>
                    <p>
                        Ankara Merkez Kapalı Ceza ve Tutukevi veya Ulucanlar Cezaevi, 1925 ve 2006 yılları arasında Ankara'nın Altındağ ilçesinin Ulucanlar semtinde faaliyet göstermiş olan bir cezaevidir. Türk siyasi ve edebi hayatında da önemli bir yere sahip olan Ulucanlar Cezaevi'nin restore edilerek müze ve kültür sanat merkezine dönüştürülmesi projesi Altındağ Belediyesi'ne verildi. 2009 yılında başlatılan restorasyon çalışmaları 2010 yılında tamamlandı.
                    </p>
                    <p>
                        Adres: Hacettepe, Ulucanlar Cd. No:63, 06030 Altındağ/Ankara
                    </p>
                </div>
                <div class="single-grid">
                    <img src="~/blog/images/etnog.jpg" alt="" />
                    <br /><br />
                    <h3>ETNOGRAFYA MÜZESİ</h3>
                    <p>
                        1930 yılından beri faaliyet gösteren Etnografya Müzesi'nde, Türk Sanatının Selçuklu Devrinden günümüze kadar devam eden örnekleri sergilenmektedir.  Koleksiyonunda; Anadolu'nun çeşitli yörelerinden derlenmiş halk giysileri, süs eşyaları, ayakkabı, takunya örnekleri, Sivas yöresi kadın ve erkek çorapları, çeşitli keseler, oyalar, çevreler, uçkurlar, peşkirler, bohçalar, yatak örtüleri, gelin kıyafetleri, damat tıraş takımları, çeşitli yörelerden halı ve kilimler, Anadolu maden sanatını temsil eden çok çeşitli eserler, Osmanlı Devri yayları, okları, çakmaklı tabancalar, tüfekler kılıç ve yatağanlar, Türk çini porselenleri ve Kütahya porselenleri, tasavvuf ve tarikatla ilgili eşyalar, Türk yazı sanatının güzel örneklerinden levhalar bulunmaktadır.
                    </p>
                    <p>
                        Adres: Hacettepe, 06230 Altındağ/Ankara

                    </p>
                </div>

            </div>

            
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    <!---->
    



